.Polaris-Frame__Content {
  background-color: white;
}
.Polaris-ResourceList__HeaderWrapper {
  background: white;
  border: none;
  box-shadow: none;
  /* padding: 0 !important; */
}

.group-actions {
  display: flex;
  gap: 12px
}

.actions-bulk {
  display: flex;
  justify-content: center;
  margin-top: 16px
}
.actions-bulk > .Polaris-ShadowBevel > .Polaris-Box {
  padding: 12px
}
.group-actions-bulk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}